<div id="star-container">
  <div id="starMaker">
    <div class="row">
      <div class="box col-12">
          <div class="title">&emsp;
            <span>今</span>
            <span>日</span>
            <span>も</span>
            <span>お</span>
            <span>つ</span>
            <span>か</span>
            <span>れ</span>
            <span>さ</span>
            <span>ま</span>
            <span>で</span>
            <span>し</span>
            <span>た</span>
            <span>！</span>
        </div><br><br>
        <%= link_to "カレンダーへＧＯ！！", calendars_path, class: "btn btn-light" %>&emsp;
        <%= link_to "投稿一覧へＧＯ！！", tweets_path, class: "btn btn-light" %>

    </div>
  </div>
</div>

