<div id="star-container">
  <div id="starMaker">
    <div class="row">
      <div class="box col-12">
        <div class="title justify-content-center">&emsp;
          <span>今</span>
          <span>日</span>
          <span>も</span>
          <span>お</span>
          <span>つ</span>
          <span>か</span>
          <span>れ</span>
          <span>さ</span>
          <span>ま</span>
          <span>で</span>
          <span>し</span>
          <span>た</span>
          <span>！</span>
        </div><br><br>
        <%= link_to "カレンダーへＧＯ！！", calendars_path, class: "btn btn-light" %>&emsp;
        <%= link_to "投稿一覧へＧＯ！！", tweets_path, class: "btn btn-light" %>
      </div>
    </div>
  </div>
</div>

<script>

/*global $*/
const CLASSNAME = "-visible";
const $target = $(".title");

setInterval(() => {
  $target.addClass(CLASSNAME);
 });


//星を作る関数。n は星の個数。多いほど星が多く振ります。
function starMaker(n) {
    var star = document.createElement("div");
    star.className = "star";
    star.textContent = "★";
    for(var i = 0; i < n; i++) {
      console.log(i)
        starSet(star);
    }
}

//星のセッティングをする関数。
function starSet(clone) {
    var starClone = clone.cloneNode(true);
    var starStyle = starClone.style;

    //星の位置（left）、アニメーションの遅延時間（animation-delay）、サイズ（font-size）をランダムで指定
    starStyle.left = 100 * Math.random() + "%";
    starStyle.animationDelay = 8 * Math.random() + "s";
    starStyle.fontSize = ~~(50 * Math.random() + 20) + "px";
    document.body.appendChild(starClone);
}

//使用例。星を30個ふらせます。
starMaker(30)


</script>