<div class="container">
  <p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %> </p>
  <p><%= @user.name %> </p>
  <p><%= @user.challenge %></p>
  <p><%= @user.tweet %></p>
</div>
