<div class= container>
 <div class="gest-signin">
   <%= link_to users_guest_sign_in_path, method: :post do %>
     GUEST ログイン<br>
     <span>(ポートフォリオ閲覧用)</span>
   <% end %>
 </div>
 <div class="contact-about-pf">
   <%= link_to new_contact_path do %>
     PFに関する<br>
     ご意見・アドバイスはこちら
   <% end %>
 </div>
</div>



