<h1>ゆる～くがんばろう！</h1>
<p>
「仕事や勉強を頑張っている人たちがつながる」サイト<br>
 ゆる～くがんばるあなたを応援する、<br>
 自己肯定感爆上げツールです！
</p>

<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>

<%= link_to 'お問い合わせはこちら', new_contact_path %>