/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans JP', sans-serif;
}

// 新規登録・ログイン
.login-signin_box {
  margin: 4%;
  padding: 8% 15%;
  border-radius: 6px;
  background-color: white;
  h2 {
    color: #92bbc4;
    font-weight: 800;
    text-align: center;
  }

  form {
    text-align: center;
    color: #545454;
    .field {
      margin: 5%;
      label[for="user_name"] {
        width: 100%;
        text-align: start;
      }
      input#user_name {
        width: 100%;
      }
      label[for="user_password"] {
        width: 100%;
        text-align: start;
      }
      input#user_password {
        width: 100%;
      }
      label[for="user_password_confirmation"] {
        width: 100%;
        text-align: start;
      }
      input#user_password_confirmation {
        width: 100%;
      }
      label[for="user_email"] {
        width: 100%;
        text-align: start;
      }
      input#user_email {
        width: 100%;
      }
    }
  }
}

// ヘッダー
.logo{
  width: 90px;
  height: 90px;
}

.icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

header {
  background-color: #888888;
  width: 100%;
  position: relative;
  z-index: 1500;
  .navbar {
    padding: 10px;
    ul {
      display: flex;
      align-items: center;
    }
  }
}


// 画面全体(bodyの中に設定)：フッターを最下部に表示する記述
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 75px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}


// フッター
footer {
  // display: flex;
  // justify-content: center;
  width: 100%;
  background-color: #888888;
  text-align: center;
  padding: 25px 0;

// フッターを最下部に表示する記述
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}


@media screen and (max-width: 470px) {
  .sidebar {

  }
}


// フラッシュ・エラーメッセージ
.alert{
  text-align: center;
  margin: 0 auto;
}

// 文字のマーカー
.marker {
  background: linear-gradient(transparent 80%, #ffff9e 0%);
}