/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// ヘッダー
header {
  background-color: #99DDFF;
  width: 100%;
  position: relative;
  z-index: 1500;
  .navbar {
    padding: 15px;
    ul {
      display: flex;
      align-items: center;
      .notification-link {
        .nav-link {
          padding-left: 0.2rem !important;
          padding-right: 0.2rem !important;
          .fa-bell {
             position: relative;
            .fa-circle {
              position: absolute;
              right: 34px;
              top: -4px;
            }
          }
        }
      }
    }
  }
}


// 画面全体(bodyの中に設定)：フッターを最下部に表示する記述
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}


// フッター
footer {
  // display: flex;
  // justify-content: center;
  width: 100%;
  background-color: #99DDFF;
  text-align: center;
  padding: 25px 0;

// フッターを最下部に表示する記述
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}


@media screen and (max-width: 470px) {
  .sidebar {

  }
}


.table{
  border-bottom: 1px solid #bbbbbb;
}