// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar {
  background-color: #ffffb2;
  text-align: center;
}


// スタンプ画像の大きさ
.stamp1{
  width: 80px;
  height: 80px;
}

.stamp2{
  width: 90px;
  height: 90px;
}