// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 見出し
h4 {
    margin: 5% 0;
    background: #92bbc4;
    color: white;
    width: fit-content;
    padding: 4px 6%;
  }

//new,edit投稿部分
.tweet_box {
  margin: 4%;
  padding: 4% 10%;
  border-radius: 6px;
  background-color: white;
}

