h4 {
    margin: 5% 0;
    background: #92bbc4;
    color: white;
    width: fit-content;
    padding: 4px 6%;
  }

// 検索画面
.search_box {
  width: 100%;
  margin: 4%;
  padding: 4% 10%;
  border-radius: 6px;
  background-color: white;
}